@tailwind base;
@tailwind components;
@tailwind utilities;
/* npx tailwindcss -i ./src/styles/input.css -o ./src/styles/output.css --watch */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: #f4f2ee;  
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", serif;
}
.c-bg-color{
    background-color: #8E2157;
}
.b-bg-color{
    background-color: #5c0931;
}
.transparent-bg-color{
    background-color: #8e215734; 
    transition: background-color 0.3s ease;
}
.transparent-bg-color:hover{
    background-color: #8e215779;
}
.b-color{
color: #5c0931;
}
.m-color{
    color: #8E2157 !important;
}
.c-border{
    border: 1px solid #8E2157 !important;
}
.c-w-48{
    width: 48%;
}
.c-text-sm{
    font-size: 0.7rem
}
.c-text-xs{
    font-size: 0.65rem
}
.c-text-uxs{
    font-size: 0.5rem
}
.m-btn{
    background-color: #8E2157 ;
    color: white;
}
.special{
    -webkit-text-stroke: 0.1rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}
.m-btn:hover{
    background-color: white;
    border: 1px solid #8E2157;
    color: #8E2157;
}
.m-btn-white{
    background-color: white ;
    color: #5c0931;
}
.m-btn-white:hover{
    background-color: #5c0931;
    border: 1px solid white;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 13px;
}
.c-underline{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.c-h-underline{
    text-decoration: none;
}
.c-h-underline:hover{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.c-accent{
 accent-color: #5c0931;
}
.advertActiveTab{
    background-color: white;
    color: #8E2157;
}
.button-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.button-slider::-webkit-scrollbar {
    display: none; 
  }
.resume-bg{
    background: linear-gradient(149deg, #22c55e 0%, #a855f7 99.08%);
}
.resume-bg:hover{
    background: linear-gradient(149deg, #16a34a 0%, #9333ea 99.08%);
}
.swiper-pagination-bullet-active{
    background: #8E2157;
  }
@media (min-width: 640px){
    .main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 20px;
    }
}
@media (min-width: 1024px){
    .main {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin: 24px 25px;
    }
}